<div>
  <ul class="nav nav-sidebar">
    <li>
      <a [routerLink]="['/']">
        Home
      </a>
    </li>
    <li>
      <a [routerLink]="['/tests']">
        Test
      </a>
    </li>
    <li>
      <a [routerLink]="['/items']">
        Item
      </a>
    </li>
    <li>
      <a [routerLink]="['/addresses']">
        Address
      </a>
    </li>
  </ul>
</div>
