<div>
  <fieldset>
    <legend>{{getTitle()}}</legend>
    <table class="table table-striped table-condensed table-hover md-data-table">
      <thead>
      <tr>
        <th *ngFor="let field of metadataArray">
          <span *ngIf="field.table">
            {{field.label}}
          </span>
        </th>
        <th class="crud-column">
          <i class="glyphicon glyphicon-plus" (click)="addNew()"></i>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of data">
        <td *ngFor="let field of metadataArray">
          <div (click)="edit(item)" *ngIf="field.table">
            {{getValue(field.key, item)}}
          </div>
        </td>
        <td>
          <i class="glyphicon glyphicon-remove" (click)="remove(item)"></i>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination [pgnEndItems]="pgnEndItems" [pgnStartItems]="pgnStartItems" [pgnModelOds]="paginationModelObs"></pagination>
  </fieldset>
</div>
